body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h1,
h2 {
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

h3,
a {
  color: #11999e;
}


.top-container {
  background-color: #e9efc0;
  position: relative;
  padding-top: 100px;
}
/*
.middle-container {
  background-color: #b4e197;
  height: 200px;
  width: 200px;
}
*/
.profile-p {
  margin-top: 50px;
  max-height: 100%;
  max-width: 200px;
}

.overthinking {
  max-height: 100%;
  max-width: 150px;
}

.weightlifting {
  max-height: 100%;
  max-width: 150px;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}
/*
.bottom-container {
  background-color: #83bd75;
  height: 200px;
  width: 200px;
}
*/
